*{

}
.Alphabet-list{
    list-style-type: upper-alpha;
}
.Colours{
    list-style-type: square;
    color: blue;
    
}
form{
    display: block;
    background-color: aqua;
}
footer{

}
https://github.com/MudehDieudonne/tributepage
p{
    
}
